.home35 {
  text-decoration: underline;
}
.home34 {
  font-weight: 200;
}
.home33 {
  color: inherit;
}
.levents-05-jersey4 {
  font-family: var(--font-inter);
}
.home-outfit-levents-05-je-container2 {
  position: absolute;
  top: 294px;
  left: 116px;
  font-size: var(--font-size-17xl);
  text-align: center;
}
.model-height-1m78-weight-container2 {
  position: absolute;
  top: 445px;
  left: 436px;
  font-size: var(--font-size-21xl);
  font-weight: 200;
  text-align: center;
}
.image-23-icon2,
.image-24-icon2,
.image-25-icon2,
.image-26-icon2 {
  position: absolute;
  top: 855px;
  left: 17px;
  width: 440px;
  height: 550px;
  object-fit: cover;
}
.image-24-icon2,
.image-25-icon2,
.image-26-icon2 {
  left: 457px;
}
.image-25-icon2,
.image-26-icon2 {
  left: 887px;
}
.image-26-icon2 {
  top: 1471px;
  left: 333px;
  width: 236px;
  height: 296px;
}
.levents-23-jersey {
  margin: 0;
}
.levents-23-jersey-container,
.xem-chi-tit2 {
  position: absolute;
  top: 1527px;
  left: 645px;
}
.xem-chi-tit2 {
  top: 1644px;
  color: var(--color-crimson);
  text-align: center;
  cursor: pointer;
}
.desktop-12-child,
.desktop-12-item {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-white);
  width: 1339px;
  height: 264px;
}
.desktop-12-item {
  left: 0;
  background-color: var(--color-black);
  width: 1343px;
  height: 76px;
}
.vector-icon67,
.vector-icon68 {
  position: absolute;
  height: 2.29%;
  width: 4.57%;
  top: 5.61%;
  right: 91.27%;
  bottom: 92.1%;
  left: 4.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon68 {
  height: 3.51%;
  width: 4.94%;
  top: 4.97%;
  right: 5.12%;
  bottom: 91.52%;
  left: 89.95%;
  cursor: pointer;
}
.footer-child10 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1325px;
  height: 353px;
}
.lin-h-hotline-container12 {
  position: absolute;
  top: 43px;
  left: 543.1px;
  display: inline-block;
  width: 239.2px;
}
.e-nguyn-tri-phng-bn-thn37 {
  margin-bottom: 0;
}
.e-nguyn-tri-phng-bn-thn36 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.ca-hng-139e-container12,
.h-tr-ti-container12 {
  position: absolute;
  top: 38px;
  left: 803.5px;
  display: inline-block;
  width: 482.2px;
}
.h-tr-ti-container12 {
  top: 194px;
  left: 809px;
  width: 403.1px;
}
.image-3-icon12 {
  position: absolute;
  top: 62px;
  left: 44.4px;
  width: 253px;
  height: 57px;
  object-fit: cover;
}
.levents-share12 {
  position: absolute;
  top: 146px;
  left: 44.4px;
  text-align: center;
  display: inline-block;
  width: 245.7px;
}
.footer12,
.thng-tin-sn-container11 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.footer12 {
  top: 2070px;
  left: 29px;
  width: 1325px;
  height: 353px;
}
.thng-tin-sn-container11 {
  top: 1874px;
  left: 86px;
}
.desktop-12-inner {
  position: absolute;
  top: 111px;
  left: 475px;
  background-color: var(--color-black);
  width: 393px;
  height: 105px;
}
.levents12 {
  position: absolute;
  top: 125px;
  left: 528px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  cursor: pointer;
}
.desktop-12 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2433px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
