.group-child40 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 632.4px;
  height: 860.6px;
}
.levents-asia5 {
  margin: 0;
  font-weight: 100;
}
.levents-05-jersey-red3 {
  margin: 0;
  font-size: var(--font-size-mini);
}
.vnd4 {
  margin: 0;
}
.blank-line23 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.blank-line25,
.color6 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.color6 {
  font-size: var(--font-size-5xl);
}
.levents-asia-levents-05-container3 {
  position: absolute;
  top: 72.6px;
  left: 64px;
  display: inline-block;
  width: 627px;
  height: 252.8px;
  font-size: var(--font-size-smi);
}
.group-child41 {
  position: absolute;
  top: 186px;
  left: 305px;
  background-color: #f2fcf2;
  width: 59px;
  height: 43px;
}
.size6 {
  position: absolute;
  top: 266px;
  left: 66.8px;
  display: inline-block;
  width: 61.6px;
  height: 32.3px;
}
.group-child42,
.group-child43,
.group-child44 {
  position: absolute;
  top: 325.4px;
  left: 123px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 101.8px;
  height: 45.7px;
}
.group-child43,
.group-child44 {
  left: 275.7px;
}
.group-child44 {
  left: 428.4px;
}
.div18,
.div19 {
  top: 330.8px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.div18 {
  position: absolute;
  left: 163.1px;
  display: inline-block;
  height: 32.3px;
}
.div19 {
  left: 315.9px;
}
.div19,
.div20,
.s-lng6 {
  position: absolute;
  display: inline-block;
  height: 32.3px;
}
.div20 {
  top: 330.8px;
  left: 465.9px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.s-lng6 {
  top: 398px;
  left: 61.3px;
  width: 112.5px;
}
.group-child45 {
  position: absolute;
  top: 459.8px;
  left: 206px;
  background-color: var(--color-gainsboro-100);
  width: 270.6px;
  height: 61.9px;
}
.thm-vo-gi6 {
  position: absolute;
  top: 480px;
  left: 264.1px;
  display: inline-block;
  width: 171.5px;
  height: 32.3px;
}
.group-child46 {
  position: absolute;
  top: 540.5px;
  left: 208.7px;
  background-color: var(--color-black);
  width: 270.6px;
  height: 61.9px;
  cursor: pointer;
}
.mua-ngay6 {
  position: absolute;
  top: 555px;
  left: 282px;
  color: var(--color-white);
  display: inline-block;
  width: 125.9px;
  height: 32.3px;
}
.sn-phm-nm6 {
  margin: 0;
  font-weight: 200;
}
.chnh-sch-vn-container6,
.thng-tin-sn-container6 {
  position: absolute;
  top: 629.3px;
  left: 64px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 570.7px;
  height: 83.4px;
}
.chnh-sch-vn-container6 {
  top: 720.7px;
  width: 562.7px;
  height: 129.1px;
}
.rectangle-parent4 {
  position: absolute;
  top: 395px;
  left: 649px;
  width: 691px;
  height: 860.6px;
  font-size: var(--font-size-5xl);
}
.image-27-icon6 {
  position: absolute;
  top: 483px;
  left: 56px;
  width: 547px;
  height: 684px;
  object-fit: cover;
}
.desktop-22-child {
  position: absolute;
  top: 1718.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 2001px;
  height: 1px;
}
.khch-hng-nh-container6 {
  position: absolute;
  top: 0;
  left: 0;
}
.khch-hng-nh-gi-0-cha-c-wrapper4 {
  position: absolute;
  top: 1340px;
  left: 464px;
  width: 416px;
  height: 132px;
  text-align: center;
}
.image-16-icon7,
.image-17-icon7,
.image-18-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 550px;
  object-fit: cover;
}
.image-17-icon7,
.image-18-icon7 {
  left: 1010px;
}
.image-17-icon7 {
  left: 505px;
}
.levents-2lip-tee6,
.levents-classic-hoodie6,
.levents-flowers-window9 {
  position: absolute;
  top: 592px;
  left: 75px;
  display: inline-block;
  width: 289px;
  height: 118px;
}
.levents-2lip-tee6,
.levents-flowers-window9 {
  left: 580px;
}
.levents-flowers-window9 {
  left: 1085px;
}
.image-16-parent4 {
  position: absolute;
  top: 1781px;
  left: -53px;
  width: 1450px;
  height: 710px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.ng-nhp13 {
  text-decoration: underline;
}
.ng-nhp12 {
  color: inherit;
}
.vit-nh-gi6 {
  color: var(--color-black);
}
.ng-nhp-vit-container6 {
  position: absolute;
  top: 1517px;
  left: 382px;
  font-size: var(--font-size-13xl);
  text-align: center;
  color: var(--color-red);
}
.vector-icon42,
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  position: absolute;
  height: 1.27%;
  width: 2.83%;
  top: 48.8%;
  right: 57.33%;
  bottom: 49.93%;
  left: 39.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  right: 53.09%;
  left: 44.08%;
}
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  right: 48.85%;
  left: 48.32%;
}
.vector-icon45,
.vector-icon46 {
  width: 2.76%;
  right: 44.68%;
  left: 52.57%;
}
.vector-icon46 {
  width: 2.83%;
  right: 39.84%;
  left: 57.33%;
}
.desktop-22-inner,
.desktop-22-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1339px;
  height: 264px;
}
.desktop-22-inner {
  background-color: var(--color-black);
  width: 1343px;
  height: 76px;
}
.vector-icon47,
.vector-icon48 {
  position: absolute;
  height: 1.96%;
  width: 4.57%;
  top: 4.8%;
  right: 91.42%;
  bottom: 93.24%;
  left: 4.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon48 {
  height: 3%;
  width: 4.94%;
  top: 4.25%;
  right: 5.26%;
  bottom: 92.75%;
  left: 89.8%;
}
.footer-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1325px;
  height: 353px;
}
.lin-h-hotline-container7 {
  position: absolute;
  top: 43px;
  left: 543.1px;
  display: inline-block;
  width: 239.2px;
}
.e-nguyn-tri-phng-bn-thn22 {
  margin-bottom: 0;
}
.e-nguyn-tri-phng-bn-thn21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.ca-hng-139e-container7,
.h-tr-ti-container7 {
  position: absolute;
  top: 38px;
  left: 803.5px;
  display: inline-block;
  width: 482.2px;
}
.h-tr-ti-container7 {
  top: 194px;
  left: 809px;
  width: 403.1px;
}
.image-3-icon7 {
  position: absolute;
  top: 62px;
  left: 44.4px;
  width: 253px;
  height: 57px;
  object-fit: cover;
}
.levents-share7 {
  position: absolute;
  top: 146px;
  left: 44.4px;
  text-align: center;
  display: inline-block;
  width: 245.7px;
}
.footer7 {
  position: absolute;
  top: 2491px;
  left: 7px;
  width: 1325px;
  height: 353px;
  font-size: var(--font-size-xl);
}
.best-seller6 {
  position: absolute;
  top: 1750px;
  left: 569px;
  font-size: var(--font-size-13xl);
}
.home19 {
  font-weight: 200;
}
.home-all-products-levents6 {
  position: absolute;
  top: 310px;
  left: 108px;
  text-align: center;
}
.desktop-22-child1 {
  position: absolute;
  top: 112px;
  left: 430px;
  background-color: var(--color-black);
  width: 393px;
  height: 105px;
}
.levents7 {
  position: absolute;
  top: 126px;
  left: 483px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  cursor: pointer;
}
.desktop-22 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
